<div class="squid-api-modelinfo-internal-view">
    <div class="col-md-6">
        <h4>Dimensions</h4>
        <table class="table table-condensed dimensions">
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
              {{#each dimensions}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                </tr>
              {{/each}}
        </table>
    </div>
    <div class="col-md-6">
        <h4>Metrics</h4>
        <table class="table table-condensed metrics">
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
                {{#each metrics}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                    </tr>
                {{/each}}
        </table>
    </div>
</div>
