.squid-api-admin-widgets-export-scheduler .modal-footer .ok {
	display: none;
}

.squid-api-export-scheduler-index-view button.create-job {
    float: right;
    margin-bottom: 5px;
    z-index: 1;
    position: relative;
}

.squid-api-export-scheduler-index-view table.dataTable thead th, .squid-api-export-scheduler-index-view table.dataTable tfoot th {
    font-weight: normal;
    text-align: center;
}

.squid-api-export-scheduler-index-view.table-responsive label, .squid-api-export-scheduler-index-view table.dataTable.no-footer {
    font-size: 10px;
}

.squid-api-export-scheduler-index-view.table-responsive div.dataTables_filter {
	width: 100%;
}

.squid-api-export-scheduler-index-view.table-responsive div.dataTables_filter label{
	float: left;
	width: 100%;
	text-align:left;
}

.squid-api-export-scheduler-index-view.table-responsive div.dataTables_filter label input{
	width: 70%
}
.squid-api-export-scheduler-index-view table td {
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.squid-api-export-scheduler-index-view table.dataTable.no-footer {
    border-bottom: 1px solid #dedcde;
    table-layout: fixed;
}

.squid-api-export-scheduler-index-view table.dataTable.no-footer button {
    margin-left: 25%;
    margin-top: 10%;
}

.squid-api-export-scheduler-index-view table thead tr {
    white-space: nowrap;
}

.squid-api-export-scheduler-index-view table tbody tr {
    word-wrap: break-word;
}

.squid-api-export-scheduler-index-view .dataTables_info {
    display: none;
}

.squid-api-export-scheduler-index-view table.dataTable thead th, .squid-api-export-scheduler-index-view table.dataTable thead td {
    border-bottom: 1px solid #c8c8c8;
    font-weight: bold;
}

.squid-api-export-scheduler-index-view .dataTables_wrapper {
	clear: none;
}

.squid-api-export-scheduler-index-view .col-xs-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.squid-api-export-scheduler-index-view .dataTables_wrapper .dataTables_filter {
    float: left;
}

.squid-api-export-scheduler-index-view .form-inline > * {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

div.modal-body>div>form>div>fieldset>div {
  	display: flex;
  	padding-bottom:5px;
}

div.modal-body>div>form>div>fieldset>div>label {
  	display: inline-flex;
	width: 20%;
}

div.modal-body>div>form>div>fieldset>div>div {
  	display: inline-flex;
	width: 80%;
}
div.modal-body>div>form>div>fieldset>div>div>div[data-error] {
	width: 40%;
}
div.modal-body>div>form>div>fieldset>div>div>span {
	width: 60%;
}

div.modal-body>div>form>div>fieldset>div>div>div {
	width: 0%;
}
div#emails, div#emails>div {
	width: 100%;
  	display: block;
}
div#emails>div>div {
	width: 100%;
  	display: inline-flex;	
}
div#emails button {
	margin: 0px 0px 0px 0px;	
}
div#emails span {
	width: 100%;
}
div.modal-body>div>form>div>fieldset>div>div>span>div>select {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
}
