.squid-api-modelinfo-internal-view {
    overflow-y: scroll;
    max-height: 200px;
    overflow-x: hidden;
}
.squid-api-modelinfo-internal-view table {
    font-size: 12px;
}
.squid-api-modelinfo-internal-view table tr td:nth-child(1) {
    font-weight: bold;
}
.squid-api-modelinfo-internal-view h4 {
    padding: 4px;
    margin-top: 0px;
    border-radius: 4px;
    margin-bottom: 4px;
    text-align: center;
}
.squid-api-modelinfo-internal-view table.dimensions {
    width: 101%;
    max-width: 101%;
}
.squid-api-modelinfo-internal-view::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.squid-api-modelinfo-internal-view::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.squid-api-modelinfo-internal-view .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.squid-api-modelinfo-internal-view table thead {
    background: #f3f3f3;
}
