<div class="squid-api-modelinfo-widget">
    <button class="btn form-control" role="button" data-toggle="popover" data-trigger="focus">
        <i class="fa fa-info" aria-hidden="true"></i>
    </button>
</div>
