<div class="squid-api-modelinfo-internal-view">
    <div class="col-md-6 nopadding">
        <h4>Dimensions</h4>
        <table class="table table-condensed dimensions">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
              {{#each dimensions}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                </tr>
              {{/each}}
        </table>
    </div>
    <div class="col-md-6 nopadding">
        <h4>Metrics</h4>
        <table class="table table-condensed metrics">
            <thead> 
             <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
                {{#each metrics}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                    </tr>
                {{/each}}
        </table>
    </div>
</div>
