<div id="bar_chart" class="squid-api-data-widgets-bar-chart">
    <div id="re-run" style="{{#unless isInCache}} display: none; {{/unless}}">
        <div class="reactiveMessage">
            <span>
                <i class="fa fa-refresh"></i><br>
                Please manually refresh your analysis
            </span>
        </div>
    </div>
</div>
